@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');


.rubik-mono one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .salsa-regular {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  }
  



* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
}

header {
    padding-top: 50px; /* NOVO */   
    text-align: center;
    background-color: black;
    color: white;
    font-family: Rubik Mono One ;
    font-weight: lighter;

}

header h1 {
    font-size: 5vw; /* NOVO */
    font-variant: small-caps; /* NOVO */
    font-weight: lighter;

}

header > p {
    padding-bottom: 50px; /* NOVO */
    font-family: Arial, Helvetica, sans-serif;
}

header > p > a {
    color: white;
    font-weight:900;
    text-decoration: none;
}

header a:hover {
    color: rgb(69, 140, 199);
    text-decoration: underline;
}

section {
    padding: 4% 0% 11% 3%;
    font-family: Salsa;
    font-size: 3vw;
    font-style: italic;
    font-weight: bold;
    line-height: 210%;
    
}

.imgfundo {
    padding-bottom: 4%;
    color: white;
    
}

.imgfundo > p {
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.479);
    width: 47%;
}

#flor {
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#livro {
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

footer {
    padding: 0.5%;
    text-align: center;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

footer > p > a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-shadow: 1px 1px 1px rgb(163, 204, 155);
    text-decoration: underline;
    color: green;
}